.jumbotron {
  width: 80%;
  margin: 0 auto;
}

#time-of-day {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
}
#event-input {
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
}
.alert {
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  height: 75px;
}

#time-bar {
  margin-top: 15px;
}
